/*----------------
 Google font popins
------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* -----------
header start
----------- */
header{
    background-color: blue;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}
header h1{
    font-size: 64px;
    font-weight: 700;
   
}
a{
    width: 168px;
    height: 168px;
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 15px;
    color: white;
    font-weight: 400;   
}
.banner{
     
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
    
}
.football-banner img{
    width: 556px;
    height: 438px;
    transition: transform 2s;
    

}
.football-banner img:hover{
    transform:scale(50%)  ;
}


/* ----------
main Start
----------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
/* ------------
Top player Info start
---------------- */
.playes_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    width: 300px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-pic img{
    width: 300px;
    height: 256px;
} 
.player-name{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 28px;

}

/* ---------
Team start
----------- */

h2{
    text-align: center;
    font-size: 40px;
}

.teams{
   
    background-color: whitesmoke ;
    padding: 20px;
}


.team{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;    
}
.team img{
    width: 330px;
    height: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

/* ----------
group start
------------- */

.group-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
   
}
.group{
    width: 495px;
    height: 200px;
      
       border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.group-logo{
    display: flex;
    align-items: center;
}

.group-logo p{
    text-align: center;
}


/* -------
footer part
-------- */
.page-footer{
    display: grid;
    justify-content: center;
    text-align: center;
}
.page-footer img{
    width: 483.87px;
    height: 110px;
  margin-top: 30px;
}
.page-footer small{
    margin: 20px;
}
.social-icon i{
    margin: 14px;
}

 /* -----------
 media quaries 
 ---------------*/
  
 /*---------------
  mobile devices
  ------------- */

@media only screen and (max-width: 688px)
{
    main , header , footer{
        width: 100%;
    }

    .playes_container,.team, .group-container, .page-footer{
        grid-template-columns:repeat(1, 1fr) ;

    }
    header{
        border-right: 100px;
        border-color: blue;
    }

    .banner{
        flex-direction: column;
       
    }
    .football-banner img{
        margin-left: 220px;
    }
  
    .group{
        margin-left: 140px;
    }
    footer{
        margin-left: 70px;
    }
}


