header{
    background-color: blue;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.football-banner img{
    width: 556px;
    height: 438px;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playes_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    width: 300px;
    height: 426px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-pic img{
    width: 300px;
    height: 256px;
} 
.player-name{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 28px;

}

.team-container h2{
    text-align: center;
    font-size: 40px;
}

.teams{
   
    background-color: whitesmoke ;
    padding: 20px;
}


.team{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;    
}
.team img{
    width: 330px;
    height: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.groups{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}


.group-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}




.page-footer{
    display: grid;
    justify-content: center;
    text-align: center;
}
.page-footer img{
    width: 483.87px;
    height: 110px;
    margin: 20px;
}
.page-footer small{
    margin: 20px;
}
.social-icon i{
    margin: 14px;
}
